@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM CSS FOR CAROUSEL*/

body {
  overflow-x: hidden;
}

.swiper {
  @apply flex items-center justify-center h-44 lg:h-[30rem] !important;
}

.swiper-button-prev {
  @apply bg-gradient-to-l from-transparent to-white lg:to-transparent from-50% via-90% absolute left-0 lg:left-[calc(100vw-17rem)] xl:left-[calc(100vw-29rem)] !important;
}

.swiper-button-prev,
.swiper-button-next {
  @apply h-44 w-28 lg:bg-black lg:bg-opacity-30 size-6 lg:size-10 z-50 justify-center top-5 translate-y-0.5 lg:top-[27rem]  !important;
}

.swiper-button-next {
  @apply bg-gradient-to-r from-transparent from-50% via-90%  to-white lg:to-transparent  right-0 lg:right-48 xl:right-96 lg:translate-x-8 !important;
}
.swiper-pagination {
  @apply flex justify-center lg:justify-start bottom-2 lg:bottom-16 lg:left-[calc((100vw/12)*0.7)] xl:left-[calc((100vw/12)*1.7)] p-0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-xl font-extrabold text-white !important;
}

.swiper-pagination-bullet {
  @apply top-0 m-1 w-2 h-2 lg:w-4 lg:h-4 rounded-xl opacity-70 bg-white !important;
}

.swiper-pagination-bullet-active {
  @apply m-1 w-9 lg:w-16 opacity-95 rounded-xl bg-white !important;
}

/* CUSTOM CSS FOR SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
